<%= form.semantic_errors %>

<%= form.inputs do %>
  <%= form.input :title %>
  <%= form.input :body, :as => :ckeditor , :input_html => { :cols => 5 }%>
  <%= form.input :summary, :hint => 'Can not contain HTML' %>
  <%= form.input :url, :as => :url %>
  <%= form.input :published %>
  <%= form.input :image, :as => :file %>
  <%= form.input :remove_image, :as => :boolean %>
<% end %>

  <%= form.hidden_field :parent_id%>
  <%= form.hidden_field :node_id%>

<%= form.buttons do %>
  <%= form.commit_button :button_html => { :disable_with => 'Please wait...', :class => 'btn primary' } %>
  <li><%= link_to 'Back', [:qwerty_admin, :nodes], :class => 'btn' %></li>
<% end %>

