<h2>Sitemap</h2>


<div id="documents">
  <% @documents.each do | document | %>

    <div class="document" style=''>
      <div class="row">

        <div class="span6">
          <%= link_to document.title, [:qwerty_admin, document] %>
          <% unless document.published? %>
            <span class="label">Draft</span> 
          <% end %>
          <%= to_html truncate(document.summary, :length => 100) %>

        </div>

        <div class="span4 offset2">
          <%= link_to image_tag('qwerty/admin/icons/up.png'), up_qwerty_admin_document_path(document), :class => 'btn small' unless document.first? %>
          <%= link_to image_tag('qwerty/admin/icons/down.png'), down_qwerty_admin_document_path(document), :class => 'btn small' unless document.last? %>
          <%= link_to 'Edit', edit_qwerty_admin_document_path(document), :class => 'btn small' %>
          <%= link_to 'Live', document_path(document), :target => '_blank', :class => 'btn small' %>
        </div>
      </div>

      <p>
      <% document.node.children.each do | node | %>
        <%= link_to "Add #{node.name.capitalize}", new_qwerty_admin_document_path(:parent_id => document.id, :node_id => node.id), :class => 'btn primary' %>
      <% end %>
      </p>
    </div>
  <% end %>
</div>
